﻿body 
{
    padding: 0; 
    margin: 0;
}
.btn-search
{
    
    background-image:url('../Images/search32_small.png');
    border:1px solid #000000;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-position: 2px;
    background-clip: border-box;
    background-origin: padding-box;
    background-color: rgb(255, 255, 255);
    background-size: auto;
    font-family: Arial;
    font-weight:bold;
    color:#000000;
    height: 25px;
    width: 170px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}

.dropdownchecks
{
    font-family: Arial;
    font-size: 12px;   
}


/* Bottons */

.btn-pdfs
{
    background-image:url('../Imgs/bg_pattern.png');
    border:2px solid #000000;
    font-family: Arial;
    font-size: 12px;
    color:#FFFFFF;
    height: 25px;
    width: 100px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.btn-pdfs:hover
{
    border:2px solid #00add9;
}


.btn-pdfs:active
{
    background-color:#00add9;
    background-image:url('../Imgs/bg_pattern5.png');
    color:#000000;
    border:2px solid #000000;
}