﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Email.aspx.cs" Inherits="Insigte.Email" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>BCG | media intelligence</title>
    <link rel="stylesheet" href="Css/StyleSheet.css" type="text/css" />
</head>
<body style="padding: 0; margin: 0;">
    <form id="form1" runat="server">
    <% = "<div style=\"width: 400px; float: left; clear: both; color: #ffffff; height: 67px; background-image: url('Cli/" + global_asax.InsigteManager[Session.SessionID].CodCliente + "/fundo_small.png'); background-repeat:no-repeat; background-color: #003f56;\"> "%>
    </div>
        <div id="divMain" style="width: 400px; text-align: justify; clear: both; padding-bottom: 10px;">
            <asp:Table ID="Table1" runat="server">
                <asp:TableRow ID="TableRow1" runat="server">
                    <asp:TableCell ID="TableCell1" runat="server" HorizontalAlign="Left">
                        <asp:Label ID="Label1" runat="server" Text="Enviado por:" Font-Names="Arial" Font-Size="12px"/>
                    </asp:TableCell>
                    <asp:TableCell ID="TableCell2" runat="server">
                        <asp:TextBox runat="server" ID="tbEnviadoPor" Font-Names="Arial" Font-Size="12px" Width="300px" />
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow ID="TableRow2" runat="server">
                    <asp:TableCell ID="TableCell3" runat="server" HorizontalAlign="Left">
                        <asp:Label ID="Label2" runat="server" Text="E-mail do destinatário:" Font-Names="Arial" Font-Size="12px"  />
                    </asp:TableCell>
                    <asp:TableCell ID="TableCell4" runat="server">
                        <asp:TextBox runat="server" ID="tbEnviarPara" Font-Names="Arial" Font-Size="12px" Width="300px" />
                        <asp:RegularExpressionValidator ID="expEmail2" runat="server" ControlToValidate="tbEnviarPara"
                        Font-Names="Arial" Font-Size="12px" ForeColor="Red" ErrorMessage="Endereço de email inválido"
                        ValidationExpression="^[a-z][a-z|0-9|]*([_][a-z|0-9]+)*([.][a-z|0-9]+([_][a-z|0-9]+)*)?@[a-z][a-z|0-9|]*\.([a-z][a-z|0-9]*(\.[a-z][a-z|0-9]*)?)$"></asp:RegularExpressionValidator>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow ID="TableRow3" runat="server" >
                    <asp:TableCell ID="TableCell5" runat="server" HorizontalAlign="Left">
                        <asp:Label ID="Label3" runat="server" Text="Comentário:" Font-Names="Arial" Font-Size="12px" />
                    </asp:TableCell>
                    <asp:TableCell ID="TableCell6" runat="server">
                        <asp:TextBox runat="server" ID="tbComments" Font-Names="Arial" Font-Size="12px" Width="300px" />
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow runat="server" ID="TableRow4">
                    <asp:TableCell ID="TableCell7" HorizontalAlign="Left" runat="server">
                        <asp:Label ID="Label4" runat="server" Font-Names="Arial" Font-Size="12px" Text="Partilhar:" />
                    </asp:TableCell>
                    <asp:TableCell ID="TableCell8" runat="server">
                        <asp:RadioButtonList runat="server" ID="rblActions" Font-Names="Arial" Font-Size="12px" Font-Bold="true">
                            <asp:ListItem Text="Download PDF" Value="2"></asp:ListItem>
                            <%--<asp:ListItem Text="Link i advisers portal" Value="1" Selected="True"></asp:ListItem>--%>
                            <asp:ListItem Text="Texto Notícia" Value="3"></asp:ListItem>
                        </asp:RadioButtonList>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow runat="server" ID="TableRow5">
                    <asp:TableCell ID="TableCell9" runat="server">
                    </asp:TableCell>
                    <asp:TableCell ID="TableCell10" runat="server">        
                        <asp:Button runat="server" Text="Enviar" Font-Names="Arial" Font-Size="12px" ID="lbEnviarMail" OnClick="lbEnviarMail_Click" CssClass="btn-pdfs"/>
                    </asp:TableCell>
                </asp:TableRow>
            </asp:Table>
        </div>
    </form>
</body>
</html>