﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="webplayer.aspx.cs" Inherits="Insigte.webplayer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>insigte | media intelligence</title>
    <link href="Styles/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="Scripts/video-js/video-js.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/video-js/video.js" type="text/javascript"></script>

</head>
<body onunload='javaScript:window.opener.location=window.opener.location;'>
    <form id="form1" runat="server">
        <% = "<div style=\"width: 400px; float: left; clear: both; color: #ffffff; height: 67px; background-image: url('Cli/" + global_asax.InsigteManager[Session.SessionID].CodCliente + "/fundo_small.png'); background-repeat:no-repeat; background-color: #003f56;\"> "%>
        </div>
        <div id="divMain" style="width: auto; height:auto; text-align: justify; clear: both; padding-bottom: 10px;">
            <asp:Label ID="LBVideo" runat="server"></asp:Label>
        </div>
    </form>
</body>
</html>
