﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RemRec.aspx.cs" Inherits="Insigte.RemRec" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Carma | Insigte now is Carma</title>
<link rel="icon" type="ico" href="https://www.carma.com/app/themes/carma/assets/images/favicon.ico" />
</head>
<body>
    <form id="form1" runat="server">
    <% = "<div style=\"width: 400px; float: left; clear: both; color: #ffffff; height: 67px; background-image: url('Cli/" + global_asax.InsigteManager[Session.SessionID].CodCliente + "/fundo_small.png'); background-repeat:no-repeat; background-color: #003f56;\"> "%>
    </div>
    <div id="divMain" style="width: 400px; text-align: justify; clear: both; padding-bottom: 10px;">
        <asp:Label runat="server" Font-Names="Arial" Font-Size="12px" ID="lblArtigoRem" /><br />
        <br />
        <asp:LinkButton runat="server" Text="Fechar" Font-Names="Arial" Font-Size="12px"
            ID="lbCloseWindow" OnClientClick="javaScript:window.opener.location=window.opener.location;window.close();" />
    </div>
    </form>
</body>
</html>
